<!DOCTYPE html>
<%if(listData.dir==='rtl'){%>
    <html class="h-100" lang="he" dir="rtl">
<%}else{%>
    <html class="h-100" lang="en">
<%}%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/lista.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%if(listData.dir==='rtl'){%>
        <link id="bootstrap-link" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <%}else{%>
        <link id="bootstrap-link" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%}%>

    <link rel="stylesheet" type="text/css" href="/styles/themea.css">
    <title><%=mode%> List</title>
</head>
<body class="d-flex flex-column h-100 <%=mode%>">
    <nav class="navbar navbar-expand-lg py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex align-items-center">
            <div class="col-md-3">
                <a href="/" class="navbar-brand">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-lines-fill align-bottom" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                    </svg>
                    <span class="fs-4"> Lista</span>
                </a>
            </div>
    
            <ul class="nav col-auto">
                <%if(user){%>
                    <li class="nav-item"><a href="/mylists" class="nav-link link-body-emphasis px-2">My Lists</a></li>
                    <li class="nav-item"><a href="/list/create" class="nav-link link-body-emphasis px-2">Create List</a></li>
                <%}%>
            </ul>

            <%if(user){%>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbarTop" aria-controls="headerNavbarTop" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-12 col-md-auto">
                    <div id="headerNavbarTop" class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">
                            <%if(permissions.admin_page.view){%>
                                <li class="nav-item"><a href="/admin" class="nav-link link-body-emphasis px-2">Admin</a></li>
                            <%}%>
                            <!-- <li class="nav-item"><a href="/profile" class="nav-link link-body-emphasis px-2">My Profile</a></li> -->
                            <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis px-2">Logout</a></li>
                        </ul>
                    </div>
                </div>
            <%}else{%>
                <div class="col-auto">
                    <a href="/login" class="btn btn-outline-primary me-2">Login</a>
                    <a href="/signup" class="btn btn-primary">Sign up</a>
                </div>
            <%}%>
        </div>
    </nav>

    
    <%if(permissions.list.edit && mode != 'create'){%>
        <div class="list-top-menu d-flex justify-content-evenly my-1 pb-1 border-bottom">
            <!-- <div class="list-setting-btn" data-bs-toggle="collapse" data-bs-target="#listSettings">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/>
                </svg>
            </div> -->
            <div class="list-audience-btn" data-bs-toggle="collapse" data-bs-target="#listAudience">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
            </div>
            <div class="list-share-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                </svg>
            </div>
            <div class="show-list-btn" onclick="userShowList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
            </div>
    
            <div class="edit-list-btn" onclick="userEditList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
            </div>
        </div>

    <%}%>

    <div class="container pt-3">
        
        <div id="top-alert" class="top-alert <%- locals.hasMessages ? ' open ' : '' %>" role="alert">
            <div>
                <div id="top-alert-alert" class="alert alert-<%-locals.messageType%>">
                    <div id="top-alert-closebtn" class="top-alert-closebtn cursorPoint">
                        <div class="close-btn" onclick="toggleClass('top-alert', 'open')"></div>
                    </div>
                    <div id="top-alert-title" class="top-alert-title">
                        <%= locals.messageTitle %>
                    </div>
                    <div id="top-alert-body" class="top-alert-body">
                        <ul class="mb-0">
                            <% messages.forEach(function(message) { %>
                                <li><%= message %></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <main>
        
            <%if(permissions.list.edit && mode != 'create'){%>
                <div id="listAudience" class="collapse">
                    
                        <ul id="list-viewers" class="list-group list-group-flush">
                            <%if(listData.viewers.length != 0){%>
                                <li class="list-group-item active fw-bold">
                                        Users that can see and edit this list:
                                </li>
                                <%for(user of listData.viewers){%>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div id="mail">
                                            <%=user.email%>
                                        </div>
                                        <form action="/list/remove/viewer" method="POST" onsubmit="return confirm('Remove user from list?')">
                                            <input type="hidden" name="listid" value="<%=listData.id%>" />
                                            <input type="hidden" name="userid" value="<%=user.id%>" />
                                            <button type="submit" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </li>
                                <%}%>
                            <%}%>
                        </ul>
                    
                        <ul id="pendingInvites" class="list-group list-group-flush">
                            <%if(listData.pendingInvites.length != 0){%>
                                <li class="list-group-item active fw-bold">
                                    Pending Invites:
                                </li>
                                <%for(invite of listData.pendingInvites){%>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div id="mail">
                                            <%=invite.recipient.email%>
                                        </div>
                                        <form action="/invite/cancel" method="POST" onsubmit="return confirm(`are you sure you wish to cancel this invitation`)">
                                            <input type="hidden" name="inviteid" value="<%=invite.id%>" />
                                            <button type="submit" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </li>
                                <%}%>
                            <%}%>
                        </ul>
                    
        
                    <form action="/invite/create" method="POST" onsubmit="return inviteuser(event)">
                        <input type="hidden" name="listId" value="<%=listData.id%>">
                        <div class="row g-2 align-items-center my-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="inviteEmail" name="email" placeholder="name@example.com" pattern="[a-z0-9\._%+\-]+@[a-z0-9\.\-]+\.[a-z]{2,4}" required>
                                    <label for="inviteEmail">Email address</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid email address
                                    </div> 
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            <%}%>

            <%if(permissions.list.edit){%>

            <div class="meta-edit">
                <form id="form-meta">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="listTitle" name="title" placeholder="List Title" value="<%=listData.title%>" onchange="titleChanged(event)">
                        <label for="listTitle">List Title</label>
                        <div id="validationTitleFeedback" class="invalid-feedback">
                            List title cannot be empty.
                        </div>            
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="List Description" id="listDescription" name="description" style="height: 100px" onchange="descriptionChanged(event)"><%=listData.description%></textarea>
                        <label for="listDescription">List Description</label>
                    </div>
                    <div id="listSettings" class="my-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="langDir" id="langDir2" value="ltr" onchange="userLangDirChange('ltr')"<%if(listData.dir==='ltr'){%> checked<%}%>>
                            <label class="form-check-label" for="langDir2">
                                Ltr
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="langDir" id="langDir1" value="rtl" onchange="userLangDirChange('rtl')"<%if(listData.dir==='rtl'){%>checked<%}%>>
                            <label class="form-check-label" for="langDir1">
                                Rtl
                            </label>
                        </div>
                    </div>
                    <div class="col-md my-3 save-btn float-end">
                        <button type="button" class="btn btn-warning" style="position: relative;z-index:99;" onclick="saveList()">Save</button>
                    </div>
                </form>
            </div>
            <%}%>
            
            <div class="meta">
                <h3 id="meta-title"><%=listData.title%></h3>
                <div id="meta-description">
                    <%=listData.description%>
                </div>
            </div>

            <div id="lista-main" class="mt-3"></div>
            
        </main>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container text-center">
            <span class="text-body-secondary">2024 &copy; Lista.</span>
        </div>
    </footer>

    <template id="list-dropdown-template">
        <div class="edit-list-dropdown">
            <span class="mb-3 p-2 badge rounded-pill bg-primary pointer" data-bs-toggle="dropdown" title="Add Item" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </span>
            <ul class="dropdown-menu">
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'text')">Text</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'bigtext')">Big Text</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'checkbox')">Checkbox</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'link')">Link</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'div')">Simple List</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'ul')">Unordered List</button></li>
                <li><button class="btn btn-link dropdown-item" onclick="listadd(event, 'ol')">Ordered List</button></li>
            </ul>
        </div>
    </template>

    <template id="text-edit-template">
        <span class="fs-5 d-inline-block mb-3 edit-item-title">Add Text Item:</span>
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Text Item" value="">
                    <label>Text Item:</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-success">Update</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div> 
    </template>

    <template id="bigtext-edit-template">
        <span class="fs-5 d-inline-block mb-3 edit-item-title">Add Big Text Item:</span>
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" style="height: 100px"></textarea>
                    <label class="form-label">Big Text:</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-success">Update</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div> 
    </template>

    <template id="checkbox-edit-template">
        <span class="fs-5 d-inline-block mb-3 edit-item-title">Add Checkbox Item:</span>
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Checkbox Label" value="">
                    <label>Checkbox Label:</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-success">Update</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div> 
    </template>

    <template id="link-edit-template">
        <span class="fs-5 d-inline-block mb-3 edit-item-title">Add Link Item:</span>
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="href" value="">
                    <label>href:</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Anchor" value="">
                    <label>Anchor:</label>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around">
                <button class="btn btn-success">Update</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div> 
    </template>

    <template id="checkbox-item-template">
        <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label"></label>
        </div>
    </template>

    <template id="item-template">
        <div class="d-flex justify-content-between align-items-center">
            <div class="list-item flex-grow-1"></div>
            <div class="btn-group btn-group-sm list-item-menu" role="group" aria-label="Edit item menu">
                <button type="button" class="btn btn-primary up">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-primary down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </template>

    <template id="invite-item">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div id="email"></div>
            <button class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                </svg>
            </button>
        </li>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/lista.js"></script>

    <script type="text/javascript">
        var mode = '<%=mode%>'
        const listData = JSON.parse('<%-JSON.stringify(listData)%>')
        document.addEventListener('DOMContentLoaded', () => {
            renderList()
        })

        const toast = new bootstrap.Toast(document.querySelector('.toast'))
    </script>
</body>
</html>